
.app-main {
  padding: 0 10px 10px 10px;
}

.app-title {
  padding-left: 10px;
}

.app-graph {
  width: 100%;
}

.app-form {
  background-color: lightgrey;
  margin-top: 30px;
  width: 100%;
  height: 800px;
}
