* {
  box-sizing: border-box;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  font-family: x-locale-heading-primary, zillaslab, Palatino, "Palatino Linotype", x-locale-heading-secondary, serif
}
